@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
:root {
  --color-primario: #69420f;
  --color-secundario: #d88f22;
  --color-accent: #7a4420b6;
  --color-accent-hover: #6d421a;
  --font: Lato, "Sans Serif";
}

.card .card div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card .card div .precio {
  font-size: 1.7rem;
}
.card .card div {
  padding: 6px 8px;
  outline: none;
  border: none;
  border-radius: 1.5rem;
  background-color: var(--color-primario);
  position: relative;
}

.card .card {
  border: 1px solid red;
  width: 350px;
  height: 470px;
  border-radius: var(--border-radius);
  background-color: #efefef;
}
.card .card img {
  width: 100%;
  padding: 10px;
  aspect-ratio: 1;
  border-radius: var(--border-radius);
}
.card .card .body_card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 10px;
}
.card .card .body_card .header_card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card .card .body_card .header_card h2 {
  text-transform: uppercase;
}
.card .card .body_card .descripcion {
  color: #898989;
  margin-bottom: 5px;
}
.card .card .body_card div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card .card .body_card div .precio {
  font-size: 1.7rem;
}
.card .card .body_card div {
  padding: 6px 8px;
  outline: none;
  border: none;
  border-radius: 1.5rem;
  background-color: #ddd;
  position: relative;
}

html,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font);
}