@use "../mixins" as *;

.card {
  width: 340px;
  height: 500px;
  border-radius: var(--border-radius);
  background-color: #efefef;
  overflow: hidden;

  img {
    width: 100%;
    aspect-ratio: 1;
  }

  .body_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin: 5px 10px;

    .header_card {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .nombre-producto {
        text-transform: uppercase;
        font-size: 1.3rem;
      }
      .precio {
        font-size: 1.8rem;
        font-weight: bold;
        color: var(--color-accent);
      }
    }

    .descripcion {
      color: #898989;
      margin-bottom: 5px;
    }

    @include button(var(--color-primario));
  }
  transition: 0.3s;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
}
