@use "../mixins" as *;

.card {
  // estilos para la tarjeta del producto
  .card {
    // ... resto de estilos

    div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .precio {
        font-size: 1.7rem;
      }

      @include button(var(--color-primario));
    }
  }
}

.card {
  // estilos para la tarjeta del producto
  .card {
    border: 1px solid red;
    width: 350px;
    height: 470px;
    border-radius: var(--border-radius);
    background-color: #efefef;

    img {
      width: 100%;
      padding: 10px;
      aspect-ratio: 1;
      border-radius: var(--border-radius);
    }

    .body_card {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: 0 10px;

      .header_card {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
          text-transform: uppercase;
        }
      }

      .descripcion {
        color: #898989;
        margin-bottom: 5px;
      }

      div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .precio {
          font-size: 1.7rem;
        }

        @include button(#ddd);
      }
    }
  }
}
